* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Source Code Pro", monospace;
}

.container {
	margin: auto;
	max-width: 1080px;
	width: 100%;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: lime;
	cursor: pointer;
}

body {
	background-color: #2a292f;
	color: white;
	margin: auto;
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
}

body > header {
	background-color: #242427;
	white-space: nowrap;
	width: 100%;
	z-index: 99;
}

body > header > div#menubar {
	flex-wrap: wrap;
	justify-content: space-around;
	height: min-content;
}

body > header > div#menubar > div {
	justify-content: center;
}

body > header > div#menubar > nav {
	justify-content: space-between;
	overflow-x: auto;
}

body > header > div#menubar > * > * {
	padding: 1rem;
}

section#view {
	flex-grow: 1;
}

div.ui-root > div.ui-view > * {
	margin: 2rem 0;
}

div.ui-root > div.ui-view > div#banner {
	align-items: center;
	font-size: 1.25rem;
}

div.ui-root > div.ui-view > div#banner > h1 {
	font-family: "Iceberg", sans-serif;
	font-size: 3rem;
}

div.ui-root > div.ui-view > div#cards {
	flex-wrap: wrap;
	justify-content: space-around;
}

div.ui-root > div.ui-view > div#cards > div.pair {
	flex-wrap: wrap;
}

div.ui-root > div.ui-view > div#cards > div.pair > div.card {
	align-items: center;
	border: 1px solid white;
	border-radius: 1rem;
	justify-content: space-between;
	margin: 1rem;
	padding: 2rem;
	width: 100%;
}

div.ui-root > div.ui-view > div#cards > div.pair > div.card:hover {
	border-color: lime;
	color: lime;
	cursor: pointer;
}


div.ui-root > div.ui-view > div#cards > div.pair > div.card > div {
	margin-right: 1rem;
}

div.ui-root > div.ui-view > div#cards > div.pair > div.card > svg.iconify {
	flex-shrink: 0;
	font-size: 3rem;
}

body > footer {
	background-color: #242427;
	width: 100;
	white-space: nowrap;
	font-size: 0.75rem;
}

body > footer > div.container {
	flex-wrap: wrap;
	justify-content: space-around;
}

body > footer > div > * > * {
	margin: 1.5rem;
}

body > footer > div > div#sitemap {
	align-items: flex-start;
}

body > footer > div > div#sitemap > div > span {
	color: grey;
	padding-bottom: 0.25rem;
}

@media only screen and (min-width: 540px) {

	div.ui-root > div.ui-view > div#cards > div.pair > div.card {
		width: calc(50% - 2rem);
	}

}

@media only screen and (min-width: 768px) {

	body > header > div#menubar > nav {
		justify-content: space-around;
	}

	div.ui-root > div.ui-view > div#cards {
		justify-content: space-around;
	}

}
